<h2><%=t("recycler")%></h2>
<%= form_tag bulk_update_packs_path do %>
<ul>
  <% @packs.each do |pack| %>
        <% if pack.is_deleted? %>
        <p><%= check_box_tag "ids[]", pack.id, false %></p>
        <p><%=link_to pack.name, pack_path(pack)%></p>
        <p>
        <%=link_to t("Edit"), edit_pack_path(pack), class:'btn btn-primary btn-xs' %>%>
        <%=link_to t("Delete"), pack_path(pack), :method => :delete, class:'btn btn-danger btn-xs' %>
        </p>
        <% end %>
  <% end %>
</ul>

<%= submit_tag t("Bulk_Delete") %>
<%= submit_tag t("Recover") %>
<% end %>