<h1>首頁</h1>
<%= form_tag bulk_update_packs_path do %>

<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <%= submit_tag "Soft_Delete", class:'btn btn-default' %>
      <%= submit_tag "Bulk_Delete", class:'btn btn-default' %>
      <%= submit_tag "Bulk_Clone", class:'btn btn-default' %>
    </div>
  </div>



  <div class="col-md-10">
    <div class="row">
      <% @packs.each do |pack| %>
          <div class="col-md-2">
            <% unless pack.is_deleted? %>
              <div class="thumbnail">
                <p><%= check_box_tag "ids[]", pack.id, false %></p>
                <p>file No. <%= pack.id%>:</p>
                <p><%=link_to pack.name, pack_path(pack)%></p>
                <p>
                  <%=link_to "Edit", edit_pack_path(pack), class:'btn btn-primary btn-xs' %>
                  <%=link_to "Delete", pack_path(pack), :method => :delete, class:'btn btn-danger btn-xs' %>
                </p>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

</div>
<% end %>

<%#= render "recycler"%>
